### A little EDA to get a better grasp on the data

In [1]:
! pip install seaborn

Requirement already satisfied: seaborn in /opt/miniconda3/envs/genAIbot/lib/python3.8/site-packages (0.13.2)
Requirement already satisfied: numpy!=1.24.0,>=1.20 in /opt/miniconda3/envs/genAIbot/lib/python3.8/site-packages (from seaborn) (1.24.4)
Requirement already satisfied: pandas>=1.2 in /opt/miniconda3/envs/genAIbot/lib/python3.8/site-packages (from seaborn) (2.0.3)
Requirement already satisfied: matplotlib!=3.6.1,>=3.4 in /opt/miniconda3/envs/genAIbot/lib/python3.8/site-packages (from seaborn) (3.7.5)
Requirement already satisfied: contourpy>=1.0.1 in /opt/miniconda3/envs/genAIbot/lib/python3.8/site-packages (from matplotlib!=3.6.1,>=3.4->seaborn) (1.1.1)
Requirement already satisfied: cycler>=0.10 in /opt/miniconda3/envs/genAIbot/lib/python3.8/site-packages (from matplotlib!=3.6.1,>=3.4->seaborn) (0.12.1)
Requirement already satisfied: fonttools>=4.22.0 in /opt/miniconda3/envs/genAIbot/lib/python3.8/site-packages (from matplotlib!=3.6.1,>=3.4->seaborn) (4.53.1)
Requirement already satisfied: kiwisolver>=1.0.1 in /opt/miniconda3/envs/genAIbot/lib/python3.8/site-packages (from matplotlib!=3.6.1,>=3.4->seaborn) (1.4.5)
Requirement already satisfied: packaging>=20.0 in /opt/miniconda3/envs/genAIbot/lib/python3.8/site-packages (from matplotlib!=3.6.1,>=3.4->seaborn) (24.1)
Requirement already satisfied: pillow>=6.2.0 in /opt/miniconda3/envs/genAIbot/lib/python3.8/site-packages (from matplotlib!=3.6.1,>=3.4->seaborn) (10.4.0)
Requirement already satisfied: pyparsing>=2.3.1 in /opt/miniconda3/envs/genAIbot/lib/python3.8/site-packages (from matplotlib!=3.6.1,>=3.4->seaborn) (3.1.2)
Requirement already satisfied: python-dateutil>=2.7 in /opt/miniconda3/envs/genAIbot/lib/python3.8/site-packages (from matplotlib!=3.6.1,>=3.4->seaborn) (2.9.0)
Requirement already satisfied: importlib-resources>=3.2.0 in /opt/miniconda3/envs/genAIbot/lib/python3.8/site-packages (from matplotlib!=3.6.1,>=3.4->seaborn) (6.4.0)
Requirement already satisfied: pytz>=2020.1 in /opt/miniconda3/envs/genAIbot/lib/python3.8/site-packages (from pandas>=1.2->seaborn) (2024.1)
Requirement already satisfied: tzdata>=2022.1 in /opt/miniconda3/envs/genAIbot/lib/python3.8/site-packages (from pandas>=1.2->seaborn) (2024.1)
Requirement already satisfied: zipp>=3.1.0 in /opt/miniconda3/envs/genAIbot/lib/python3.8/site-packages (from importlib-resources>=3.2.0->matplotlib!=3.6.1,>=3.4->seaborn) (3.19.2)
Requirement already satisfied: six>=1.5 in /opt/miniconda3/envs/genAIbot/lib/python3.8/site-packages (from python-dateutil>=2.7->matplotlib!=3.6.1,>=3.4->seaborn) (1.16.0)

In [2]:
import numpy as np
import pandas as pd
import seaborn as sns
from matplotlib import pyplot as plt
from tqdm.notebook import tqdm

article_df = pd.read_csv('dataset/article.csv')
customer_df = pd.read_csv('dataset/customer.csv')
departement_df = pd.read_csv('dataset/department.csv')
product_df = pd.read_csv('dataset/product.csv')
transaction_df = pd.read_csv('dataset/transaction.csv')

## Articles

In [3]:
article_df.head()

,articleId,productCode,departmentNo,prodName,productTypeName,graphicalAppearanceNo,graphicalAppearanceName,colourGroupCode,colourGroupName
0,108775015,108775,1676,Strap top,Vest top,1010016,Solid,9,Black
1,108775044,108775,1676,Strap top,Vest top,1010016,Solid,10,White
2,110065001,110065,1339,OP T-shirt (Idro),Bra,1010016,Solid,9,Black
3,111565001,111565,3608,20 den 1p Stockings,Underwear Tights,1010016,Solid,9,Black
4,111586001,111586,3608,Shape Up 30 den 1p Tights,Leggings/Tights,1010016,Solid,9,Black

In [4]:
print('TOTAL NUMBER OF ROWS:', len(article_df))
print('how many unique article:', article_df['articleId'].nunique())
print('how many unique product:', article_df['productCode'].nunique())

TOTAL NUMBER OF ROWS: 13351
how many unique article: 13351
how many unique product: 8044

## Products

In [5]:
product_df.head()

,productCode,prodName,productTypeNo,productTypeName,productGroupName,garmentGroupNo,garmentGroupName,detailDesc
0,108775,Strap top,253,Vest top,Garment Upper body,1002,Jersey Basic,Jersey top with narrow shoulder straps.
1,110065,OP T-shirt (Idro),306,Bra,Underwear,1017,"Under-, Nightwear","Microfibre T-shirt bra with underwired, moulde..."
2,111565,20 den 1p Stockings,304,Underwear Tights,Socks & Tights,1021,Socks and Tights,"Semi shiny nylon stockings with a wide, reinfo..."
3,111586,Shape Up 30 den 1p Tights,273,Leggings/Tights,Garment Lower body,1021,Socks and Tights,Tights with built-in support to lift the botto...
4,111593,Support 40 den 1p Tights,304,Underwear Tights,Socks & Tights,1021,Socks and Tights,"Semi shiny tights that shape the tummy, thighs..."

In [6]:
print('TOTAL NUMBER OF ROWS:', len(product_df))
print('how many unique article:', product_df['productCode'].nunique())
print('how many unique description:', product_df['detailDesc'].nunique())
print('how many unique product type:', product_df['productTypeNo'].nunique(), '== names:', product_df['productTypeName'].nunique())
print('looking for null values:' )

TOTAL NUMBER OF ROWS: 8044
how many unique article: 8044
how many unique description: 7684
how many unique product type: 99 == names: 98
looking for null values:

### Department

In [7]:
departement_df.head()

   departmentNo  departmentName  sectionNo                     sectionName
0          1676    Jersey Basic         16          Womens Everyday Basics
1          1339  Clean Lingerie         61                 Womens Lingerie
2          3608    Tights basic         62  Womens Nightwear, Socks & Tigh
3          5883    Jersey Basic         26                   Men Underwear
4          2032          Jersey          8                            Mama

In [8]:
print('TOTAL NUMBER OF ROWS:', len(departement_df))
print('how many unique article:', departement_df['departmentNo'].nunique())
print('how many unique description:', departement_df['sectionName'].nunique())
print('how many unique product type:', departement_df['productTypeNo'].nunique(), '== names:', departement_df['productTypeName'].nunique())
print('looking for null values:' )

TOTAL NUMBER OF ROWS: 266
how many unique article: 266
how many unique description: 54

KeyError: 'productTypeNo'